{{ define "main" }}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {{ range ( where .Site.RegularPages "Type" "blog" | first 5 ) }}
            <div class="post-preview">
                <h2 class="post-title">{{ .Title }}</h2>
                <h3 class="post-subtitle">{{ .Description }}</h3>
                <p class="post-meta">
                    Posted {{ .Params.Date| time.Format ":date_full" }} by
                    {{- range .Params.authors }}
                    {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                    <a href="{{ .Permalink }}">{{ .Params.name }}</a>
                    {{ end }}
                    {{ end }}
                </p>
                <p> {{ .Summary }}</p>
                <a href="{{ .Permalink }}">Read more ...</a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {{end}}
        </div>
        <!-- Pager-->
        <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-primary text-uppercase" href="#!">Older Posts</a>
        </div>
    </div>
</div>
{{ end }}